#hero{
    background-color:#c81b37;
    color:white;
}

body{
    font-family: system, "Segoe UI", sans-serif;
}

section{
    min-height:100vh;
}

h1,
h2,
h3 {
    font-family: 'Catamaran', sans-serif;
    line-height: 1;
}
h1{
    font-size:4rem;
}
h2{
    font-size:3rem;
}
h3{
    font-size:2rem;
    color:#CFB53B;
}

#drugi_section{
    color:#c81b37;
    padding-top:20px;
}
#googleMap{
    height:500px;
    width:100%;
    border:2px solid #c81b37;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    width: 100px;
    text-decoration:none;
    font-size:2rem;
    color:white;
    font-weight:bold;
}
a:hover{
    transition-duration:1500ms;
    color:#c81b37;
}
li{
    display:inline;
    margin:10px;
}


.dugme {
    background-color: white;
    border: none;
    color: black;
    border-radius:5px;
    padding: 0.5rem 0.75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.fixed-nav-bar {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #FFD700;
    box-shadow: 0px 4px 4px -2px #383838;
}
