*, *:before, *:after {
    box-sizing: border-box;
  }
html,body{
    margin: 0 auto;
    font-family:'Roboto',sans-serif;
}
.nav-main{
    height: 56px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background:#c81b37;
}
.logo, .tag-line {
display:flex;
align-items: center;
height: 56px;
flex:1;
}
.tag-line{
    font-size:20px;
    color:#fff;
    margin-left: .5em;
}

.navigation{
}
.nav-buttons{
    display:flex;
    list-style: none;
}
.nav-buttons a{
    color:#fff;
    text-decoration:none;
}

.drop-menu {
    list-style: none;
    box-shadow: 0 -2px 8px NaNpx rgba(0,0,0,0.22);
    background-color: #1F2838;
    height: 8.875em;	
    width: 10.75em;
    padding:0;
    display:none;
    flex-direction: column;
    border-radius: 0.25em;
    position: absolute;
    margin: 6px 0 0 0 ;
    right:0;
    transition-duration: 0.5s;
}

.drop-menu:before {
    content: " ";
    width: 11px;
    height: 11px;
    position: absolute;
    vertical-align: top;
    margin-top: -10px;
    margin-right: 20px;
    right: 1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1F2838;
  
}

.drop-menu-hover:hover > .drop-menu {
    display:flex;
}

.drop-menu li{
    color: #FFFFFFFF;
    height: 1.75em;	
    width: 10.75em;
    padding-left: 12px;
    padding-top:5px;
    padding-bottom:5px;
    flex:1;
    list-style: none;
    cursor:pointer;
}


.drop-menu li:hover {
    background-color: #C81B37;
}

.top{
    margin-top: 0.75em;
}

.bottom{
    margin-bottom: 0.75em;
}

.drop-menu-hover{
    position:relative;
}

.prati-nas {
    border: 1px solid #FFFFFF;
    padding: 5px;
    border-radius: 0.25em;
    margin: 0 0.5em;
    
}

.A, .drop-menu-hover {
    margin:6px 0.5em;
}
