*, *:before, *:after {
    box-sizing: border-box;
  }
html,body{
    margin:0;
    font:16px/1.5 'Roboto',sans-serif;
}
.nav-main{
    height: 56px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background:#c81b37BB;
}
.logo, .tag-line {
    display:flex;
    align-items: center;
    height: 56px;
    flex:1;
}
.tag-line{
    font-size:20px;
    color:#fff;
    margin-left: .5em;
}
.nav-buttons{
    display:flex;
    list-style: none;
    font-size:1em;
}
.nav-buttons a{
    color:#fff;
    text-decoration:none;
}

.drop-menu {
    list-style: none;
    box-shadow: 0 -2px 8px NaNpx rgba(0,0,0,0.22);
    background-color: #1F2838;
    width: 10.75em;
    padding:0;
    display:none;
    flex-direction: column;
    border-radius: 0.25em;
    position: absolute;
    margin: 6px 0 0 0 ;
    right:0;
    transition-duration: 0.5s;
}

.drop-menu:before {
    content: " ";
    width: 11px;
    height: 11px;
    position: absolute;
    vertical-align: top;
    margin-top: -10px;
    margin-right: 20px;
    right: 1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1F2838;
  
}

.drop-menu-hover:hover > .drop-menu {
    display:flex;
}

.drop-menu li{
    color: #FFFFFFFF;
    height: 1.75em;	
    width: 10.75em;
    padding-left: 12px;
    padding-top:5px;
    padding-bottom:5px;
    flex:1;
    list-style: none;
    cursor:pointer;
}


.drop-menu li:hover {
    background-color: #C81B37;
}

.top{
    margin-top: 0.75em;
}

.bottom{
    margin-bottom: 0.75em;
}

.drop-menu-hover{
    position:relative;
}

.prati-nas {
    border: 1px solid #FFFFFF;
    padding: 5px;
    border-radius: 0.25em;
    margin: 0 0.5em;
    
}

.A, .drop-menu-hover {
    margin:6px 0.5em;
}
h1{
    font-size:3em;
    margin:0;
}
h2 {
    font-size:1.5em;
    font-weight: 400;
}
.dugme1{
    color: #fff;
    border: solid #fff 1px;
    border-radius: .25em;
    padding: 8px 12px;
    text-decoration: none;
    text-align: center;
    display:inline-flex;
}
.dugme2{
    color: #C81B37;
    border: solid #C81B37 1px;
    border-radius: .25em;
    padding: 8px 12px;
    text-decoration: none;
    text-align: center;
    display:inline-flex;
}
.btn{
    color: #fff;
    border: 1px solid #C81B37;
    border-radius: 0.25em;
    background-color:#C81B37;
    padding:8px 12px;
    text-decoration: none;
    text-align: center;
}
.btn:hover{
    box-shadow: 0 0 0 4px rgba(200,27,55,0.25);
}
.ktzprozirno{
    text-align: center;
    color: #BEBABE;
    text-decoration: none;
}
.linkovi{
    text-align: center;
    color: #C81B37;
    text-decoration:underline;
}
.pozadina{
    background:#C81B37BB;
    padding:7em 0;
}
.fb{
    padding-right:.5em
}
.color--main{
color:#C81B37;
}
.color--white{
    color:#fff
}
.simple{
    padding-top:7em;
}

.pozadina-slika{
    background-image: url("pozadina1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slika1{
    background-image: url("labud.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:20em;
    margin-top:2.5em;
    margin-bottom:2.5em;
}
.margin--top{
    margin-top:2.5em;
}